body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-image: url("../img/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#header.image{
	content:url(../img/logo.png);
	width: 300px;
	height: 150px;
}

#border {
	background-color: rgba(0,0,0,0.67);
	overflow: auto;
	left: -40px;
	right: -40px;
	border: 50px solid transparent;
	border-image: url(../img/border.png) 100 241 round;
    position: inherit;
	z-index: 0;
}

#content{
	overflow: auto;
}

#input {
    font-size: 1.4em;
	border-radius: 36px;
}

#list {
    color: white;
    width: 450px;
    height: 600px;
    overflow-y: scroll;
}

#help {
    font-size: 0.75em;
    border: 1px solid gray;
    border-radius: 10px;
    float: right;
    color: white;
    padding: 10px;
    right: 100px;
}

.roundBtn {
    cursor: pointer;
    border: 3px outset gray;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    font-size: 1.4em;
    font-weight: bold;
}

.roundBtn:hover{
    border: 3px solid white;
}

.addBtn {
    background: greenyellow;
}

.minusBtn {
    background: red;
}

.itemImg
{
	float: left;
	width: 40px;
	height: 30px;
}

.itemImg.img
{
	height: 30px;
	width: 30px;
}

.item {
    width: 300px;
    height: 30px;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
}

.item:hover{
    background: gray;
}

.itemName {
    float: left;
}

.itemQty {
    float: right;
}

.selected {
    background: lightblue;
}

.splitter {
    height: 3px;
    background: lightblue;
}

.tooltip_templates { display: none; }

#listBorder{
	 width: 450px;
    height: 600px;
	border: 10px solid transparent;
	border-image: url(../img/border2.png) 30 79 0 79 round;
}

.btn{
	width: 100px;
	height: 25px; 
	text-align: center;
	color:white;
	color: #FFFFFF;
	text-shadow: 2px 2px 0 #000000, 4px 4px 0 #000000;
	font-size: 20px;
	border: 10px solid transparent;
	border-image: url(../img/border2.png) 30 79 0 79 round;
	display: inline-block;  
	
}

#inputtext,#plus,#minus,#export,#import,#eraselist{
	 display: inline-block;
}
#plus:hover
{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(64,255,105,0) 75%, rgba(0,255,55,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(64,255,105,0) 75%,rgba(0,255,55,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(64,255,105,0) 75%,rgba(0,255,55,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ff37',GradientType=0 ); /* IE6-9 */
}

#minus:hover
{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,64,64,0) 75%, rgba(255,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,64,64,0) 75%,rgba(255,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,64,64,0) 75%,rgba(255,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
}
#export:hover,#import:hover,#eraselist:hover
{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
